body, html {
	width:100%;
	box-sizing:border-box;
	margin:0;
	padding:0;
	height:100%;
}

div {
	box-sizing:border-box;
}

.app {
	border:8px solid darkred;
	height:100%;
   position:relative;
}

.hidden {
	display:none;
}

div#canvas {
	width:100%;
	height:100%;
	background-image:url("fzm-seamless.corkboard.texture-01-[800x800].jpg");
   position:relative;
   overflow:scroll;
   background-attachment: local;/*Check browser support for this*/
}

.note-body {
   min-height:32px;
   min-width:128px;
   width:100%;
   height:100%;
   padding: 00px 20px;
  	background-color:#ffa;
   margin-bottom: -4px;
   border:0;
   outline: none;
}

.note-container {
   min-height:32px;
   min-width:128px;
	border:2px solid #ddd;
	box-shadow: 8px 8px 16px #400;
	border: none;	
   /*background-image:url("bgtime.png");*/
   background-color:#eaeaa0;
   padding-top:24px;
   cursor:pointer;
}

.note-container > img.control-pin {
	position:absolute;
   top:-16px;
	left:-16px;
	width:32px;
	height:32px;	
}

.note-container > img.lock-pin {
	position:absolute;
   top:-16px;
	right:-16px;
	width:32px;
	height:32px;	
}

.note-container > img.lock-pin-gone {
   position:absolute;
   top:0px;
	right:0px;
	width:32px;
	height:32px;	
}

#controls {
   display:inline-block;
   background-image:url("bgtime.png");
   margin:8px;
   padding:20px 0px 4px 0px;
   
   box-shadow: 8px 8px 16px #111;
}

#controls .control {   
   font-family:sans-serif;      
   border-bottom:1px solid grey;
   padding:0px 3px;
   margin-left:20px;
   margin-bottom:6px;
}